.add-user-btn{
	margin:10px;
	display: flex;
	justify-content: space-between;
}

.block-section{
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    border-radius:5px;

    margin-top:20px;
    margin-bottom: 20px;

    padding-left:50px;
    padding-right: 50px;

    padding-top:10px;
    padding-bottom: 20px;
}

.block-section h4{
    text-align: center;
}

.edit-fields{
    margin-bottom: 10px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}

.user-table thead .sorting{
	cursor:pointer;
}

.user-table ul{
	list-style: none;
	padding-left:0;
}

.user-table .btn {
	margin-left: 2px;
}

.d-flex{
	flex-wrap: wrap;
}

#userinfo{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
}

.tab-pane{
    padding:35px;

    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    border-radius:5px;
}
