.add-user-btn{
	margin:10px;
	display: flex;
	justify-content: space-between;
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}

.user-table thead .sorting{
	cursor:pointer;
}

.user-table ul{
	list-style: none;
	padding-left:0;
}

.user-table .btn {
	margin-left: 2px;
}

.d-flex{
	flex-wrap: wrap;
}