html{
	min-height: 100%;
	position: relative;
	margin: 0;
    padding: 0;
}

.content-block{
	margin-top:35px;
}

.block-padding{
	margin-top:10px;
	margin-bottom: 20px;	
}

.block-padding .btn {
    margin-right: 10px;
}


.autocomplete-items{
    width:100%; 
    position:absolute; 
    max-height:200px;
    overflow-y:auto; 
    padding-right: 20px;
}
.autocomplete-div{
    position: relative;
}